<head>
    <title>Login</title>
</head>

{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

    <form action="{% url 'users:login_user' %}" method="post">

    	{% csrf_token %}
        <input type="text" name="username">
        <label for="signup-user-name" class="placeholder">User name</label>
        <input type="password" name="password">
        <label for="signup-user-name" class="placeholder">Password</label>
        <input type="submit" value="Sign In">
    </form>
    <p>

    <h2><strong>New to Twitter?</strong><a href="{% url 'users:signup' %}">Sign up</a></h2>

    


