<head>
    <title>Search</title>
</head>

<body>
    <form action="" method="get">

    	{% csrf_token %}
        <input type="text" name="username">
        <label for="signup-user-name" class="placeholder">User name</label>
        <input type="text" name="email">
        <label for="signup-user-name" class="placeholder">E-mail</label>
        <input type="submit" value="Sign In">
    </form>
    <p>

    <h2><strong>New to Twitter?</strong><a href="{% url 'users:signup' %}">Sign up</a></h2>

    

</body>
