<a href="">Home</a> | <a href="">Profile</a> | <a href="{% url 'users:logout_user' %}">Logout</a>

<head>
    <title>{{user.username }} | Tweet-Django </title>
</head>


<h2>Welcome to Twit Django</h2>


{% block content %}
{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}

{% if user.username %}
<p>Welcome {{user.username }}!<br />
   Start sending tweets!
</p>
{% include 'users/tweet_form.html' %}

{% else %}
<p>Welcome anonymous User! <br />
   you need to <a href="{% url 'users:login' %}">login</a> 
   before you can send your tweets.
</p>
{% endif %}
<h2>Tweets</h2>
{% for tweet in user.tweet_set.all %}
	<ul>
		<li>{{ tweet.tweet_text }}</li>
	</ul>

{% endfor %}

{% endblock %}

